@{
    ViewBag.Title = "";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "webapp, templates, es6";
}
<section class="vt-m-video">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4" id="Introduction">
                <h1>WHICH ASTHMA IS YOURS?</h1>
                <p>Not all asthma is alike. If yours is interfering with work, sleep and enjoying life—even though you have been taking your medications and following doctor’s orders—you may have hard-to-control asthma. There are several kinds.</p>
                <p>Taking back control starts with learning more and working with your doctor to get the right diagnosis and treatment that is best suited to your asthma.</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>WHY YOU NEED TO BECOME AN “ASTHMA MANAGER.”</h2>
                <div class="video-wrapper">
                    <video controls><source src="videos/small.webm" type="video/webm"><source src="videos/small.mp4" type="video/mp4"><source src="videos/small.ogv" type="video/ogv"></video>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vt-m-downloads">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="FirstSteps">
                <h2>MANAGING YOUR ASTHMA BEGINS WITH YOU.</h2>
            </div>
            <div class="col-xs-12">
                <div class="boxes">
                    <div class="wrapper">
                        <div class="vt-c-box-cta">
                            <div class="header">
                                <div class="icon-container">
                                    <svg><use xlink:href="#paperclip"></use></svg>
                                </div>
                                <h3>Start with the facts.</h3>
                            </div>
                            <p>
                                Did you know there are many kinds of asthma that are harder to control?
                                <br>Learn more.
                            </p>
                            <a href="pdfs/example.pdf" download="pdfs/example.pdf" class="btn btn-default">Understand <br class="visible-sm-block">uncontrolled asthma.</a>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="vt-c-box-cta">
                            <div class="header">
                                <div class="icon-container">
                                    <svg><use xlink:href="#bubble"></use></svg>
                                </div>
                                <h3>“Own” Your Next Doctor Visit</h3>
                            </div>
                            <p>Knowing what to tell and ask your doctor can help in getting the right diagnosis.</p>
                            <a href="pdfs/example.pdf" download="pdfs/example.pdf" class="btn btn-default">Make every <br class="visible-sm-block">visit count.</a>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="vt-c-box-cta">
                            <div class="header">
                                <div class="icon-container">
                                    <svg><use xlink:href="#roundaperson"></use></svg>
                                </div>
                                <h3>Could Your Asthma Be Severe Eosinophilic Asthma?</h3>
                            </div>
                            <p>Severe Eosinophilic Asthma (S.E.A.) is one type of hard-to-control asthma. Learn its causes, how it’s diagnosed and more.</p>
                            <a href="pdfs/example.pdf" download="pdfs/example.pdf" class="btn btn-default">Download<br class="visible-sm-block">the infographic.</a>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="vt-c-box-cta">
                            <div class="header">
                                <div class="icon-container">
                                    <svg><use xlink:href="#cross"></use></svg>
                                </div>
                                <h3>It’s S.E.A. Now What?</h3>
                            </div>
                            <p>Diagnosed with S.E.A.? Here’s your guide to managing symptoms and more.</p>
                            <a href="pdfs/example.pdf" download="pdfs/example.pdf" class="btn btn-default">Learn more <br class="visible-sm-block">about S.E.A.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vt-m-quotes">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="PatientStories">
                <h2>They Got control. Maybe you can too.</h2>
                <p>For years their asthma symptoms ran their lives. Now, it’s a different story.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="vt-c-box-cta">
                    <div class="wrapper">
                        <q>Identifying my asthma type was like solving<br>a mystery.</q>
                        <div class="img-wrapper">
                            <img class="img-responsive" src="images/quotes/jennifer.jpg">
                        </div>
                    </div>
                    <a href="" download="" class="btn btn-primary">Read Jennifer's story.</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="vt-c-box-cta">
                    <div class="wrapper">
                        <q>Changing Treatments Made A Difference<br>for me.</q>
                        <div class="img-wrapper">
                            <img class="img-responsive" src="images/quotes/juan.jpg">
                        </div>
                    </div>
                    <a href="" download="" class="btn btn-primary">Read Juan’s story.</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vt-m-links">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="Videos">
                <h2>Use Their Knowledge to Help Manage Your Asthma.</h2>
                <p>Leading asthma doctors share their experience about all things asthma.</p>
            </div>
            <div class="col-xs-12 links-wrapper">
                <div class="link">
                    <div class="vt-c-link-cta">
                        <div class="img-container">
                            <a class="video-link" href="#" data-toggle="modal" data-target="#videoModal" data-video="Nno9hxAtykU"><img class="img-responsive" src="images/links/doctor-1.png" alt=""> <img class="play" src="images/play.png"></a>
                        </div>
                        <p class="link-text">Not all asthma is alike.</p>
                    </div>
                </div>
                <div class="link">
                    <div class="vt-c-link-cta">
                        <div class="img-container">
                            <a class="video-link" href="#" data-toggle="modal" data-target="#videoModal" data-video="Nno9hxAtykU"><img class="img-responsive" src="images/links/doctor-2.png" alt=""> <img class="play" src="images/play.png"></a>
                        </div>
                        <p class="link-text">Living with severe asthma.</p>
                    </div>
                </div>
                <div class="link">
                    <div class="vt-c-link-cta">
                        <div class="img-container">
                            <a class="video-link" href="#" data-toggle="modal" data-target="#videoModal" data-video="Nno9hxAtykU"><img class="img-responsive" src="images/links/doctor-3.png" alt=""> <img class="play" src="images/play.png"></a>
                        </div>
                        <p class="link-text">Steroids: proceed with caution.</p>
                    </div>
                </div>
                <div class="link">
                    <div class="vt-c-link-cta">
                        <div class="img-container">
                            <a class="video-link" href="#" data-toggle="modal" data-target="#videoModal" data-video="Nno9hxAtykU"><img class="img-responsive" src="images/links/doctor-4.png" alt=""> <img class="play" src="images/play.png"></a>
                        </div>
                        <p class="link-text">Time to see a specialist?</p>
                    </div>
                </div>
                <div class="link">
                    <div class="vt-c-link-cta">
                        <div class="img-container">
                            <a class="video-link" href="#" data-toggle="modal" data-target="#videoModal" data-video="Nno9hxAtykU"><img class="img-responsive" src="images/links/doctor-5.png" alt=""> <img class="play" src="images/play.png"></a>
                        </div>
                        <p class="link-text">What is S.E.A.?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vt-c-modal modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div> 
                <div class="modal-body"> 
                    <div class="video-wrapper">
                        <div class="ytplayer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="vt-c-modal modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header message">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body message">
                <div class="modal-error-wrapper">
                    <h1>Oops!</h1>
                    <p>A system error has occurred. Email could not be sent. Please try again later.</p>
                </div>
                <div class="modal-message-wrapper">
                    <h1>Thank You!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
